*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.responsive{
    max-width: 1300px;
    min-width: 1250px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: 80px 250px 200px 80px;
    gap: 10px;
}
.box{
    cursor: pointer;
}
.header{
    grid-column: 1/4;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    border: 2px solid black;
    background: linear-gradient(to right,
    rgba(138, 79, 246, 1),
    rgba(93, 106, 251, 1));
}
.content1{
    grid-column: 2/4;
    text-align: center;
    padding-top: 100px;
    border: 2px solid black;
    background: linear-gradient(
    to bottom right,
    rgba(90, 99, 247, 1),
    rgba(52, 199, 241, 1)
  );
}
.content2{
    grid-column: 2/3;
    text-align: center;
    padding-top: 85px;
    border: 2px solid black;
    background: linear-gradient(
    to bottom right,
    rgba(90, 99, 247, 1),
    rgba(52, 199, 241, 1)
  );
}
.content3{
    text-align: center;
    padding-top: 85px;
    border: 2px solid black;
    background: linear-gradient(
    to bottom right,
    rgba(90, 99, 247, 1),
    rgba(52, 199, 241, 1)
  );
}
.sidebar{
    grid-row: 2/4;
    text-align: center;
    padding-top: 50%;
    border: 2px solid black;
    background: linear-gradient(
    to bottom right,
    rgba(25, 197, 160, 1),
    rgba(53, 214, 230, 1)
  );
    
}
.footer{
     grid-column: 1/4;
     text-align: center;
     padding-top: 30px;
     border: 2px solid black;
     background: linear-gradient(
        to right,
        rgba(138, 79, 246, 1),
         rgba(93, 106, 251, 1)  
     );
}

/* .footer:hover{
    color: black;
    text-decoration: solid;
} */